<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">


</head>
<body>
<div class="container">
<div class="page-header">
 <h1> <div class="row"><div class="col-sm-1"><img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/700175-icon-1-cloud-128.png" class="img-thumbnail" height="100" width="100"></div> <div class="col-sm-11">Welcome to your Dash   <small>You can see all your information here</small></div></div></h1>
  </div>
<br>
<center></span><a href="/" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span><strong>     Close the lid</strong></a></center>
<br>
<br>
<div class="well">
<center><h2>Water Contamination</h2>
<p><strong>See how contaminated your water is, through our proprietary Contamination Index</strong></p></center>
<br>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Range
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li> <500 : Quite clear and safe</li>
    <li> 500 -1000 : Partially Muddy</li>
    <li> >1000 : Unsafe for direct usage</li>
  </ul>  
</div>
<br>
<br>
<br>
<br>
<br>
<br>

</div>

 
<div class="well">
<center><h2>Water Temperature</h2>
<p><strong>See how warm your water is</strong></p></center>
<br>
<br>
<br>
<br>
<br>
</div>

<div class="well">
<center><h2>Water Level</h2>
<p><strong>See how much your water is</strong></p></center>
<br>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Range
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li> <10% : Its probably empty</li>
    <li> 10%-90% : Its not full yet</li>
    <li> >90%  : Close the lid after <strong>96%</strong></li>
  </ul>

</div>
<br>
<br>
<br>
<br>
<br>
</div>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</body>
</html>

